@font-face {
    font-family: "Fira Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&display=swap");
}

* {
    font-family: "Fira Sans", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --blanco: #ffffff;
    --azul-obscuro: rgba(7, 57, 87, 1);
    --azul-borde-card: #71b6c2;
    --azul-obscuro-texto: #053a40;
    --azul-spiner-claro: rgb(111, 172, 221);
    --azul-spiner-obscuro: rgb(0, 132, 255);
}

body {
    background: rgb(5, 110, 145);
    background: linear-gradient(
        150deg,
        rgba(5, 110, 145, 1) 0%,
        rgba(7, 57, 87, 1) 100%
    );
    min-height: 100vh;
}

.limitador {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

.container-spinner {
    display: grid;
    place-items: center;
}

.cargando {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 6px solid var(--azul-spiner-claro);
    border-top: 6px solid var(--azul-spiner-obscuro);
    animation: spin 800ms infinite linear;
}

@keyframes spin {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* * CABECERA */
header {
    background: var(--azul-obscuro);
}

#header {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1.title {
    font-size: calc(1.625rem + 4vw);
    font-weight: 100;
    color: var(--blanco);
}

img.logo-oceandex {
    height: calc(1.625rem + 4.6vw);
    margin-left: 30px;
}

/* * CONTENIDO */
#contenido-general {
    padding: 0px 100px;
    min-height: 70vh;
    margin-bottom: 50px;
}

.buscador {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    display: flex;
    height: 40px;
}

.buscador input,
.buscador button {
    outline: none;
    font-size: 20px;
    border: none;
}

.buscador input {
    width: 80%;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
}

.buscador button {
    width: 20%;
    border-radius: 0px 5px 5px 0px;
}

/* CONTENEDOR ESPECIES */
.hidden {
    display: none !important;
}

#contenedor-especies {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
}

.card-especies {
    height: 400px;
    width: 250px;
    display: grid;
    grid-template-rows: 85% 15%;
    border: 2px solid var(--azul-borde-card);
    background: #fff3;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
    overflow: hidden;
    text-decoration: none;
}

.card-especies:hover {
    background: #fff5;
}

.card-especies_img {
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom: 2px solid var(--azul-borde-card);
}

.card-especies_img img {
    width: 100%;
}

.card-especies_nombre {
    font-size: 22px;
    padding-top: 5px;
    font-weight: 600;
    text-align: center;
    color: var(--azul-obscuro-texto);
}

/* * FOOTER */
footer {
    background: var(--azul-obscuro);
    padding: 20px 0px;
}

.footer-links {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 16px;
}

.footer-links a {
    padding: 10px;
    text-decoration: none;
    color: var(--blanco);
    transition: all 300ms;
}

.footer-links a:hover {
    color: #0898bb;
}
